---
layout: layout.njk
title: Клиенты
description: Клиенты юридической фирмы «Эдвайзер» — компании из строительства, IT, логистики и производства.
key: clients
contentModifier: content_layout_column
---
<section class="block">
  <h1 class="block__title">Клиенты</h1>
  <ul class="clients">
    {% for client in clients %}
    <li class="client">
      {% image client.logo, client.alt, "client__logo", "300px", [300, 600] %}
      <h3 class="client__name">{{ client.name }}</h3>
    </li>
    {% endfor %}
  </ul>
</section>
