---
layout: layout.njk
title: Новости
description: Новости юридической фирмы «Эдвайзер» — завершённые проекты и сопровождение клиентов.
key: news
contentModifier: content_layout_column
---
<section class="block">
  <h2 class="block__title">Последние новости фирмы</h2>
  {% for item in news %}
  <article class="block__description">
    <div class="block__photo-place">
      {% image item.image, item.alt, "block__photo", "250px", [250, 500] %}
    </div>
    <div class="block__text">
      <p>{{ item.text | safe }}</p>
    </div>
  </article>
  {% endfor %}
</section>
