---
layout: layout.njk
title: Услуги
description: "Услуги юридической фирмы «Эдвайзер»: гражданское, трудовое, земельное, процессуальное право и сопровождение бизнеса."
key: service
contentModifier: content_layout_column
---
<section class="block">
  <h1 class="block__title">Услуги</h1>
  <article class="block__text">
    <h3>Основные направления</h3>
    <ol>
      <li class="block__list">Гражданское право (составление новых контрактов, анализ имеющихся на соответствие интересам заказчика и
        действующему законодательству) с акцентом на предпринимательское право (защита интересов коммерческих
        юридических лиц и ИП).</li>
      <li class="block__list">Трудовое право.</li>
      <li class="block__list">Административный процесс (защита интересов при привлечении заказчика к административной ответственности).
      </li>
      <li class="block__list">Процессуальное право (представительство и защита интересов в судах общей юрисдикции и арбитражных судах).
      </li>
      <li class="block__list">Земельное право.</li>
      <li class="block__list">Семейное право в части имущественных отношений супругов (раздел имущества, брачные договоры, алименты).
      </li>
    </ol>

    <h3>Правовая поддержка совместно с партнёрами</h3>
    <p>Осуществляется нашими партнёрами под контролем нашей фирмы, так как она не специализируется в этих областях:</p>
    <ul>
      <li class="block__list">Международное право (оффшоры, внешнеэкономические контракты),</li>
      <li class="block__list">Таможенное право,</li>
      <li class="block__list">Уголовное и уголовно-процессуальное право,</li>
      <li class="block__list">Налоговое право,</li>
      <li class="block__list">Экологическое право,</li>
      <li class="block__list">Семейное право в части неимущественных отношений супругов (воспитание детей).</li>
    </ul>
  </article>
</section>
